/**
 * @name Matugen
 * @author Tiizzel
 * @version 1.0.0
 * @description Matugen theme for Vesktop (Midnight base)
 */

@import url('https://refact0r.github.io/midnight-discord/build/midnight.css');

:root {
    --bg-1: #0e1415;
    --bg-2: #171d1e;
    --bg-3: #1b2122;
    --bg-4: #252b2c;

    --accent-1: #81d3df;
    --accent-2: #b1cbcf;
    --accent-3: #b9c6ea;
    --accent-4: #004f56;
    --accent-5: #324b4e;

    --text-1: #dee4e4;
    --text-2: #bec8ca;
    --text-3: #899294;
    --text-4: #3f484a;

    --window-padding: 8px;
    --window-roundness: 12px;
    --font: 'gg sans', sans-serif;
}
