/**
 * @name Matugen
 * @author Tiizzel
 * @version 1.0.0
 * @description Matugen theme for Vesktop (Midnight base)
 */

@import url('https://refact0r.github.io/midnight-discord/build/midnight.css');

:root {
    --bg-1: #161217;
    --bg-2: #1f1a1f;
    --bg-3: #231e23;
    --bg-4: #2d282e;

    --accent-1: #e4b7f3;
    --accent-2: #d4c0d7;
    --accent-3: #f5b7b5;
    --accent-4: #5d386b;
    --accent-5: #504255;

    --text-1: #e9e0e7;
    --text-2: #cec3cd;
    --text-3: #978e97;
    --text-4: #4c444d;

    --window-padding: 8px;
    --window-roundness: 12px;
    --font: 'gg sans', sans-serif;
}
