@-moz-document url("about:newtab"), url("about:home") {
  body {
    background-color: var(--s-base00) !important;
    color: var(--s-base05) !important;
  }
  .search-wrapper .logo-and-wordmark {
    display: none !important;
  }
  .search-wrapper .search-inner-wrapper {
    background-color: var(--s-base01) !important;
    border: 1px solid var(--s-base02) !important;
    border-radius: 10px !important;
  }
}
